<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> 
        <link href="assets/css/style.css" rel="stylesheet" />    
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Readers International</title>
    </head>
    <body>
        <div class="page">
            <div class="header">
                <h1>
                    <a href="/">
                        Readers International
                    </a>
                </h1>
                <div class="regions">
                    <a href="/books#europe">Europe</a>
                    <a href="/books#latam">Latin America & Caribbean</a>
                    <a href="/books#africa">Africa</a>
                    <a href="/books#asia">Asia</a>
                </div>
            </div>
            <div class="content">                
            
        