// Styles used for the "books" index page.

.region {
    display: flex;
    flex-direction: row;

    .book {
        width: 25%;

        img {
            border: 1px solid #00000020;
            height: 20rem;
        }

        .title {
          font-size: 1rem;
          margin: 0;
        }

        .author {
          font-size: 0.8rem;
        }
    }
}
