// Styles used for the "books" index page.
@import 'common';

.anchor {
  display: block;
  position: relative;
  top: $region-offset;

  @media only screen and (max-width: $page-width) {
    top: $region-offset-mobile;
  }
}

.region-title {
  border-bottom: $thick-border solid #000;
}

.region {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  @media only screen and (max-width: $page-width) {
    padding: $common-padding;
  }

  .book {
    width: 25%;
    padding-bottom: 2rem;

    @media only screen and (max-width: $page-width) {
      width: 40%;
      padding: $common-padding;
    }

    a {
      text-decoration: none;
      div * {
        padding: $common-padding;
      }
    }
    
    a:hover {
      div * {
        background: #000;
        color: #fff;
        padding: $common-padding;
      }
    }

    img {
      border: 1px solid #00000020;
      height: 20rem;

      @media only screen and (max-width: $page-width) {
        height: initial;
        max-width: 100%;
      }
    }

    .title {
      font-size: 0.9rem;
      margin: 0;
    }

    .author {
      font-size: 0.7rem;
    }
  }
}
