// Styles used for the individual book pages.
@import 'common';

.book {
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: $page-width) {
        padding: $common-padding;
    }

    .cover {
        float: left;
        margin-right: 2rem;
        max-width: 25rem;

        @media only screen and (max-width: $page-width) {
            margin-right: $common-padding;
            max-width: initial;            
        }

        img {
            border: 1px solid #00000020;
            max-width: 100%;
            @media only screen and (max-width: $page-width) {
               max-width: initial;
               height: 15rem;
            }
        }

    }

    .title {
        padding-bottom: $common-padding;
        margin-top: 0;
    }

    .book-content {
        padding-top: 2rem;
    }
}
