// Styles used for the "books" index page.
@import 'common';

.anchor {
  padding-top: $region-offset;
}

.region-title {
  border-bottom: $thick-border solid #000;
}

.region {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .book {
        width: 25%;

        @media only screen and (max-width: $page-width) {
          width: 40%;
        }

        img {
            border: 1px solid #00000020;
            height: 20rem;

            @media only screen and (max-width: $page-width) {
              height: initial;
              max-width: 100%;
            }
        }

        .title {
          font-size: 1rem;
          margin: 0;
        }

        .author {
          font-size: 0.8rem;
        }
    }
}
