---
---

// Import styles for each of the layouts. This will be compiled down to a single
// css file during serving.
@import 'book';
@import 'books';
@import 'common';

// Common styles that apply to all parts of the site.
body, h1, p {
    font-family: 'Roboto', sans-serif;    
    margin: 0;
    padding: 0;
}

a {
    color: #394f9b;
    text-decoration: none;
}

.header {
    border-bottom: $thick-border solid #000;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0.5rem 0;
    padding-bottom: $common-padding;

    a {
        padding: 1px 4px;
        color: #000;
    }

    h1 {
        margin-bottom: -5px;
        margin-left: -7px;
        
        @media only screen and (max-width: $page-width) {
            font-size: 1.5rem;
        }

    }
}

.page {
    align-items: center;
    display: flex;
    flex-direction: column;

    .header,
    .content,
    .footer {
        width: $page-width;
    }

    .header {
        background: #fff;
        position: fixed;
        z-index:99;
    }

    .content {
        padding-top: $header-offset;
    }

    @media only screen and (max-width: $page-width) {
        .header,
        .content,
        .footer {
            width: 100%;
        }
    }
}


.regions {
    font-size: 1.2rem;
    margin-left: -4px;

    @media only screen and (max-width: $page-width) {
        font-size: 0.9rem;
    }

    a, a:active, a:visited {
        text-decoration: none;
    }

    a:hover {
        background: #000;
        color: #fff;
    }
}

.footer {
    border-top: $thick-border solid #000;
    color: #00000080;
    margin-top: 2rem;
    padding: $common-padding 0;

    .copyright {
        font-size: 0.9rem;
    }
}
