{% include header.html %}

<a class="anchor" id="europe"></a>
<h2 class="region-title">Europe</h2>
<div class="region">
  {% for book in site.books %}
    {% if book.region == "europe" %}
      {% include book-listing.html book=book %}
    {% endif %}
  {% endfor %}
</div>

<a class="anchor" id="latam"></a>
<h2  class="region-title" id="latam">Latin America & Caribbean</h2>
<div class="region">
  {% for book in site.books %}
    {% if book.region == "latam" %}
      {% include book-listing.html book=book %}
    {% endif %}
  {% endfor %}
</div>

<a class="anchor" id="africa"></a>
<h2  class="region-title" id="africa">Africa</h2>
<div class="region">
  {% for book in site.books %}
    {% if book.region == "africa" %}
      {% include book-listing.html book=book %}
    {% endif %}
  {% endfor %}
</div>

<a class="anchor" id="asia"></a>
<h2  class="region-title" id="asia">Asia</h2>
<div class="region">
  {% for book in site.books %}
    {% if book.region == "asia" %}
      {% include book-listing.html book=book %}
    {% endif %}
  {% endfor %}
</div>

{% include footer.html %}