{% include header.html %}

<div class="book">
  <div class="details">
    <div class="cover">
      <img src="{{ page.cover}}" />
    </div>
    <h2 class="title">{{ page.title }}</h2>
    {{ page.author}}<br>
    {{ page.translation }}<br>
    {% if page.isbn_physical %}
    ISBN {{ page.isbn_physical }}<br>
    {% endif %}
    {% if page.isbn_ebook %}
    eBook ISBN {{ page.isbn_ebook }}<br>
    {% endif %}

    {% if page.goodreads %}
    <a href="{{ page.goodreads }}" target="_blank">Reviews on Goodreads.com</a><br>
    {% endif %}

    {% if page.amazon %}
    <a href="{{ page.amazon }}" target="_blank">E-Book now available</a><br>
    {% endif %}

    <div class="book-content">
      {{content}}
    </div>

  </div>
</div>
{% include footer.html %}